<h2>ABOUT</h2>
<p>This is my wordcount website using django as a framework, Iam learning web development because I love interacting with machine, I feel
there is a spark which keep telling that I have to know the skills especially the skills which make feel like yaa I am going with worls
knowing all the tech stuff telling you the truth I love this stuff of coding it fascinates me that how things can change with
my finger tips I am opening myself here completely but yes I love this stuff of coding I believe It open my mind</p>